.logo-container {
    display: flex;
    align-items: baseline;
    animation: logo-fade-slide 0.6s ease-out forwards;
    opacity: 0;
}

@keyframes logo-fade-slide {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo-container:hover {
    animation: logo-hover-bounce 0.3s ease-out;
}

.logo-image {
    height: 2.2rem;
    transform: translateY(-0.35rem);
    margin-right: -0.35rem;
}
@keyframes logo-hover-bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}
